<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <% if current_user.id == @article.user_id || current_user.admin? %>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>

  <li><%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
  <% end if %>

</ul>
